@import url('https://fonts.googleapis.com/css?family=Poppins');
:host {
  font-family: 'Poppins', sans-serif;
}

div {
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: cornflowerblue;
}

h3 {
  color: orange;
}

p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5rem;
}
